# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


# Debug
*.ipch
*.tlog
*.sln
*.vcxproj
*.filters
*.user
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.ilk
*.log
*.pdb
*.txt
*.idb
for_multicore_programming/x64/Debug/for_multicore_programming.exe.recipe
